{% extends "base.html" %} {% block title %}Settings{% endblock %}
{% block content %}
<br>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">My Account</h1>
        <hr class="my-4">
        <p>Username: {{ current_user.username }}</p>
        <p>Role: {{ current_user.role.role }}</p>
        <hr>
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Update Account </legend>
                    <div class="form-group">
                        {{ form.description.label(class="form-control-label") }} 
                        {% if form.description.errors %} 
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.pgp_key.label(class="form-control-label") }}
                        {% if form.pgp_key.errors %}
                        {{ form.pgp_key(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pgp_key.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %} {{ form.pgp_key(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">{{ form.submit(class="btn btn-primary") }}</div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}